@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
  font-family: 'Roboto', sans-serif;
  transition: .15s all;
  -webkit-transition: .15s all;
  -moz-transition: .15s all;
  -ms-transition: .15s all;
  -o-transition: .15s all;
}

body {
  overflow-x: none;
}

.night-mode {
  color: white !important;
  background: black !important;
  outline-color: white !important;
  border-color: white !important;
  transition: .2s all !important;
  -webkit-transition: .2s all !important;
  -moz-transition: .2s all !important;
  -ms-transition: .2s all !important;
  -o-transition: .2s all !important;
}

#navbar {
  transition: .2s ease-out;
  -webkit-transition: .2s ease-out;
  -moz-transition: .2s ease-out;
  -ms-transition: .2s ease-out;
  -o-transition: .2s ease-out;
  z-index: 1;
}

.navbar-brand:hover {
  color: gold !important;
}

.nav-scroll {
  top: 0;
  position: sticky;
  position: -webkit-sticky;
  transition: 2s all;
  -webkit-transition: 2s all;
  -moz-transition: 2s all;
  -ms-transition: 2s all;
  -o-transition: 2s all;
  animation: 2s navscroll;
  -webkit-animation: 2s navscroll;
}

@keyframes navscroll {
  from {
    transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
  }

  to {
    transform: translate(0%);
    -webkit-transform: translate(0%);
    -moz-transform: translate(0%);
    -ms-transform: translate(0%);
    -o-transform: translate(0%);
  }
}

#change-mode {
  background: none;
  border: none;
  transition: .15s all;
  -webkit-transition: .15s all;
  -moz-transition: .15s all;
  -ms-transition: .15s all;
  -o-transition: .15s all;
  animation: change-mode 2s linear infinite;
  -webkit-animation: change-mode 2s linear infinite;
}

@keyframes change-mode {
  from {
    transform: rotate(0);
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }

}

.typewriter {
  overflow: hidden;
  border-right: .15em solid salmon;
  color: white !important;
  white-space: nowrap;
  margin: 0 auto;
  animation: typing 3s steps(40, end), blink-caret .75s step-end infinite;
  -webkit-animation: typing 3s steps(40, end), blink-caret .75s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

#section-1 {
  margin: auto;
  height: 550px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

img {
  transition: 2s all;
  -webkit-transition: 2s all;
  -moz-transition: 2s all;
  -ms-transition: 2s all;
  -o-transition: 2s all;
}

li>.nav-link:hover {
  color: red !important;
}

.active {
  color: red !important;
}

#slide-about-1,
#slide-about-2,
#slide-about-3 {
  transition: .1s all;
  -webkit-transition: .1s all;
  -moz-transition: .1s all;
  -ms-transition: .1s all;
  -o-transition: .1s all;
}

#about-next-btn {
  position: fixed;
  right: 5%;
  bottom: 5%;
}


/* customize scroll bar */
/* width */
::-webkit-scrollbar {
  width: 5px;
  /* display: none; */
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: red;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}