body {
    overflow-x: hidden;
}

/* delete select and drag access to user */
* {
    user-select: none;
    user-zoom: unset;
    -webkit-user-drag: none;
}

.about-profile-image {
    border-radius: 30px 0px 30px;
    -webkit-border-radius: 30px 0px 30px;
    -moz-border-radius: 30px 0px 30px;
    -ms-border-radius: 30px 0px 30px;
    -o-border-radius: 30px 0px 30px;
}